$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$white:#fff;
$bandsite-black: #323232;
$silver:#afafaf;
$banside-darkblack:#000000;
$mercury:#e1e1e1;
$alabaster:#fafafa;
$font-family:"Nunito Sans";



