$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;
$white:#fff;
$primary-black: #323232;
$silver:#afafaf;
$secondary-black:#000000;
$mercury:#e1e1e1;
$alabaster:#fafafa;
$font-family:"Nunito Sans";
$width:100%;





