@use "./partials/global" as *;
@use "./partials/mixins" as *;
@use "./partials/fonts" as *;
@use "./partials/variable" as *;

.hero-image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/images/hero-bio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 30vh;
  @include flex(column);
  justify-content:center;
  @include tablet {
    height: 60vh;
  }
  @include desktop {
    height: 80vh;
  }
  &__text {
    font-size: 1.5rem;
    padding-left: 1rem;
    color: $white;
    @include font(700);
    @include tablet {
      font-size: 3.75rem;
      padding-left: 2rem;
    }
    @include desktop{
      padding-left: 12rem;
    }
  }
}

.about-section {
  @include tablet{
    padding: 1rem 2rem;
  }
  @include desktop {
    padding: 1rem 6rem;
  }
  &__head {
   color: $bandsite-black;
    padding: 1.5rem 1rem 0 1rem;
    font-size: 1.5rem;
    @include font(700);
    @include tablet {
      font-size: 2.375rem;
      padding: 3rem 2.25rem 2.25rem 2.25rem;
    }
    @include desktop {
      padding: 2.5rem 0rem;
    }
  }
  &__img {
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50%;
    width: 100%;
    padding: 1rem;
    @include tablet {
      height: 55vh;
      padding: 0 4rem;
    }
    @include desktop{
      height: 75vh;
    }
  }
  &__text {
    color: $bandsite-black;
    padding: 1rem;
    @include font(500);
    @include tablet {
      padding: 1rem 4rem;
    }
    &__top {
      font-size: 0.875rem;
      @include tablet {
        font-size: 1.35rem;
      }
    }
    &__bottom {
      padding-top: 0.5rem;
      font-size: 0.8125rem;
      @include tablet {
        font-size: 1rem;
      }
    }
  }
  &__subheading {
    color: $bandsite-black;
    padding-left: 1.5rem;
    font-size: 0.875rem;
    @include font(700);
    @include tablet {
      font-size: 1.5rem;
      padding: 0 4rem;
    }
    @include desktop{
      padding: 1rem 4rem;
    }
  }
  &__content {
    color:$bandsite-black;
    @include font(300);
    padding: 0 1.5rem 1.5rem 1.5rem ;
    font-size: 0.875rem;
    @include tablet {
      font-size: 1rem;
      // display: flex;
      @include flex(none);
      justify-content: space-between;
      padding: 1rem 1rem;
    }
    @include desktop {
      // gap:1rem;
      padding: 1rem 4rem;
    }
    &__left {
      padding: 1rem 0;
      font-size: 0.875rem;

      @include tablet {
        font-size: 0.875rem;
        padding: 0 1rem 1rem 3rem;
      }
      @include desktop{
        padding: 0 1rem 1rem 0 ;
      }
    }
    &__right {
      padding: 1rem 0;
      text-align: left;
      font-size: 0.875rem;

      @include tablet {
        font-size: 0.875rem;
        padding: 0 3rem 1rem 0;
      }
      @include desktop{
        padding: 0 2.3rem 1rem 0;

      }
    }
  }
}
.photo {
  padding: 0.5rem;
  background-color: #fafafa;

  @include tablet {
    padding: 1.5rem;
  }
  @include desktop {
    padding: 4rem;
  }
  &-title {
    color:$bandsite-black;
    font-size: 1.5rem;
    padding: 1.25rem 0.625rem;
    @include font(700);
    @include tablet {
      font-size: 2.25rem;
      padding-left: 1.875rem;
    }
  }
  &-gallery {
    @include flex(column);
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    &__img {
      width: 100%;
      padding: 0.5rem;
      @include tablet {
        width: 30%;
      }
    }
  }
}
.footer {
  color:$white;
  background-color: #323232;
  font-size: 0.8125rem;
  @include tablet {
    padding:3rem 2rem;
  }
  @include desktop {
    padding: 3rem 6rem;
  }
  &-direction{
    @include flex(row);
    padding: .5rem;

    @include tablet{
      padding: 0 0.5rem;
    }
  }
  &-props {
    @include tablet {
    @include flex(row);
    }
  }
  &-heading {
    padding: 0.65rem;
    font-size: 1.5rem;
    @include font(700);
    @include tablet {
      font-size: 2.5rem;
      padding: 0;
      margin-left: 0.5rem;
    }
    @include desktop{
      margin:0;
    }
  }
  &-icons {
    padding: 0.65rem;
    @include flex(row);
    @include tablet {
      // padding: 0;
      padding: 0 1rem;

    }
    @include desktop{
      padding: 0 1rem;
    }
    &__img {
      padding-right: 2rem;

      @include tablet {
        padding: 0.85rem;
      }
      @include desktop {
        padding: 1rem 0 1rem 1.65rem;
      }
    }
  }
  &-main {
    @include flex(column);
    line-height: 1.25rem;
    font-size: 0.8125rem;
    @include font(400);
    @include tablet {
      flex-direction: row;
    }
    @include desktop {
    }
  }
  &-text {
    margin-right: 5rem;
    font-size: 0.875rem;
    @include tablet {
      margin-right: 0;
    }
    @include desktop{
    }
    &__para {
      padding: 0.65rem;
      font-size: 0.8125rem;
      @include tablet {
        width:13.7rem;
        font-size: 0.875rem;
      }
      @include desktop {
        font-size: 0.875rem;
        padding: 1rem 0;
      }
      &__bold{
        @include font(500);
      }
    }
  }
  &-logo {
    @include tablet {
      display: none;
    }
  }
  &-label {
    font-size: 0.8125rem;
    padding:0.5rem ;
    @include font(400);
    @include tablet{
      padding: 2.5rem 0.5rem .5rem .5rem;
    }
    @include desktop {
      padding: 2rem 0;
    }
  }
  &-right{
    display: none;

    @include tablet{
    width: 7.5rem;
    height: 1.25rem;
    position: relative;
    @include flex(row);
    right: 6.5rem;
    top:0.9rem;
    }
    @include desktop{
      left:2.75rem;
    }
  }
}
